
.search{
  display: flex;
  justify-content: space-between;
}
.hf{
  display: flex;
  justify-content: space-between;
}
.brand-links{
  display: flex;
  justify-content: space-between;
}
.products{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card{
  max-width: 22em;
}
.signUpBtn{
  margin: 0px 10px;
  padding: 0px 10px;
  width: 100px;
  
}
Link{
  text-decoration: none;
}
.moreBtn{
  float: right;
  min-width: 120px;
}
.items-cart-count{
  margin-right: 6px;
}
.image__min{
  max-width: 50px;
  max-height: 50px;
}

.product-item{
  display: flex;
  justify-content: space-around;
}

.product-buttons{
  display: flex;
  padding-top: 30px;
}
.product-info{
  padding: 20px;
}
.items-cart-count,
.common-price-in-header{
  font-size: large;
  margin-left: 6px;
}
.descItems{
  max-width: 400px;
}
.Get-connected{
  text-align: center;
}
.cart-items h3{
  text-align: center;
}
.wrapper{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}
footer{
  margin-top: auto;
}
.delete__btn{
  min-width: 100px;
  margin-right: -50px;
}